@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply bg-slate-200;
}

.fade {
  @apply opacity-60;
}

#modal {
  @apply lg:w-1/2 p-7 rounded-lg;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  #modal::-webkit-scrollbar {
    display: none;
  }

  #modal {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.modalTitle {
  @apply font-bold text-xl;
}

.closeModal {
  @apply h-3 cursor-pointer hover:scale-150 transition ease-in-out duration-200;
}

.pledgeBox {
  @apply border border-slate-300 rounded-lg p-5 mb-5;
}

.pledgeHead {
  @apply flex gap-5 items-start;
}

.titleGrp {
  @apply flex justify-between items-start;
}

.pledgeNum {
  @apply flex gap-2 items-center;
}

.pledgeTitle {
  @apply font-bold mb-4 cursor-pointer;
}

.pledgeAmount {
  @apply text-emerald-500 font-semibold;
}

.check {
  @apply mt-2;
}

/*#modal::backdrop {
  @apply bg-opacity-90;
}*/

.open {
  @apply h-auto;
}

.close {
  @apply hidden lg:visible overflow-hidden;
}

.navContainer {
  @apply flex flex-row justify-between items-start bg-bgMobile lg:bg-bgDesktop bg-contain bg-center bg-cover bg-no-repeat h-40 w-full px-5;
}

.navbar {
  @apply flex flex-row  justify-between items-center px-5 py-2 lg:px-24 lg:py-5 text-white;
}

.logoAndMenu {
  @apply flex flex-row justify-between items-center py-2 lg:py-5;
}

.navLogo {
  @apply h-5;
}

.hamburger {
  @apply h-4 lg:hidden;
}

.navList {
  @apply flex flex-col lg:flex-row gap-5 text-sm;
}

/*CONTAINER*/
.container {
  @apply w-full lg:w-1/2 mx-auto p-5;
}

.subContainer {
  @apply bg-white py-10 px-5 mb-6 rounded-lg;
}

.heading {
  @apply font-bold mb-5;
}

.text {
  @apply text-slate-400;
}

.containerGrp {
  @apply flex flex-row justify-between items-center mt-5;
}

.btn {
  @apply text-white font-semibold bg-emerald-600 px-8 py-2 rounded-full hover:scale-110 transition ease-in-out duration-200;
}

.numTable {
  @apply flex flex-col lg:flex-row gap-5 mb-10 text-center;
}

.numGrp {
  @apply px-7 py-5 lg:py-0;
}

.num {
  @apply text-2xl font-bold;
}

.progressBar {
  @apply h-4 w-full bg-slate-600 rounded-full;
}

.rewardBox {
  @apply border border-slate-400 rounded-lg p-5 mb-4;
}

.rewardHeadingGrp {
  @apply flex justify-between items-center mb-5;
}

.rewardHeading {
  @apply capitalize font-bold;
}

.reward {
  @apply text-emerald-400 font-semibold;
}

.rewardText {
  @apply text-slate-400;
}

.rewardBottomGrp {
  @apply flex flex-col lg:flex-row justify-between mt-7;
}

.daysLeftNum {
  @apply font-bold text-2xl;
}

.daysLeftText {
  @apply text-sm text-slate-400;
}

/*.selectReward {
  @apply text-white font-semibold bg-emerald-600 px-8 py-2 rounded-full hover:scale-110 transition ease-in-out duration-200;
}*/
